<p>
  <mat-toolbar color="primary" class="mat-typography">
    <h1>TKS blog</h1>
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Search button" class="search-icon">
      <mat-icon>search</mat-icon>
    </button>
    <span>&nbsp;</span>
    <button mat-icon-button class="menu-icon" [matMenuTriggerFor]="menu" aria-label="Menu button">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>assignment</mat-icon>
        <span>Philosophy</span>
      </button>
      <button mat-menu-item>
        <mat-icon>donut_large</mat-icon>
        <span>Theology</span>
      </button>
      <button mat-menu-item>
        <mat-icon>flight_takeoff</mat-icon>
        <span>Essays</span>
      </button>
      <hr>
      <button mat-menu-item disabled>
        <mat-icon>info</mat-icon>
        <span>About Us</span>
      </button>
    </mat-menu>

  </mat-toolbar>
</p>
