.example-spacer {
  flex: 1 1 auto;
}

.menu-icon {
  transform: scale(1.5);
  margin-right: 24px;
  margin-left: 10px;
}

.search-icon {
  transform: scale(1.5);
  margin-right: 10px;
}

.account-icon {
  transform: scale(1.5);
  margin-right: 10px;
  margin-left: 10px;
}

h1 {
  margin-left: 24px;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 36px;
}

/* .sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
} */

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 0px 30px;
}

mat-toolbar {
  position: relative;
  height: 60px;
  transition: all 1000ms ease;
}
