.footer {

  bottom: 0;
  width: 100%;
  z-index: 2;
  margin-top: auto;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text {
  font-size: 16px;
  color: #fff;
}

