.footer {
  bottom: 0;
  width: 100%;
  z-index: 2;
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-around;
  position: relative;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  text-align: center;
  font-size: 18px;
  margin-right: 8px;
  margin-left: 8px;
  font-family: "Poppins";
  font-weight: 400;
}

.right-side {
  font-size: 12px;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
  padding: 6px;
}

@media screen and (max-width: 725px) {
  .right-side {
    position: relative;
    display: flex;
  align-items: center;
  justify-content: center;
  }
}
@media screen and (max-width: 611px) {
  .footer {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 90px;
  }
}

@media screen and (max-width: 430px) {
  .wrapper {
    flex-direction: column;
  }
}
