:host {
  display: block;
  margin-top: 1rem;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1rem;
}

.post-image {
  text-align: center;
  width: 100%;
}

.post-image img {
  max-width: 100%;
  max-height: 600px;
  box-shadow: 1px 1px 5px rgb(0,0,0,0.5);
  cursor: pointer;
}

.description {
  font-size: medium;
}


.left-side {
  text-align: left;
}
.left-side a {
  margin-right: .5em;
  margin-right: .5em;
}

mat-chip {
  font-size: smaller;
  background-color: blue;
  color: white;
}

.filter-chips {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
}

.clear-button {
  text-align: right;
}

.action-buttons {
  margin-top: 1rem;
  padding-bottom: 20px;
  text-align: right;
  margin-right: 5%;
}

.action-buttons button {
  margin-right: .5rem;
  margin-left: .5rem;
}

.bloglist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
}
