<div class="bloglist-header">
  <h3>Posts</h3>
  <a routerLink="blogs">See all</a>
</div>

<div class="filter-chips">
  <mat-chip-listbox multiple aria-label="Filter by tags">
    <mat-chip-option *ngFor="let tag of tagsList" [value]="tag" (click)="filterByTag(tag)">{{tag}}</mat-chip-option>
  <button mat-flat-button (click)="onShowHideTags()">{{tagsExpanded ? 'Show less tags' : 'Show all tags'}}</button>
  </mat-chip-listbox>
  <div class="clear-button">
    <button matTooltip="Clear filters" mat-fab color="accent" aria-label="Clear filters" (click)="onClearFilters()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

<mat-accordion multi="true">
  <mat-expansion-panel *ngFor="let blog of blogs" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>{{blog.title}}</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="post-image">
      <img src="{{blog.heroImage}}" alt="{{blog.title}}" routerLink="{{blog.address}}">
    </div>
    <p class="description">{{blog.description}}</p>
    <div fxLayout="row" fxLayoutAlign="start center">
      <hr>
      <p>Tags</p>
      <div class="left-side">
        <mat-chip-listbox aria-label="Tags">
          <div *ngFor="let tag of blog.blogTags">
            <mat-chip>{{tag}}</mat-chip>
          </div>
        </mat-chip-listbox>
      </div>
    </div>
    <mat-action-row>
      <a mat-flat-button color="primary" routerLink="{{blog.address}}">Read the full article</a>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<div class="action-buttons">
  <button mat-flat-button color="warn" (click)="accordion.openAll()">Expand All</button>
  <button mat-flat-button color="warn" (click)="accordion.closeAll()">Collapse All</button>
</div>
