.main-content {
  display: block;
  margin-top: 1rem;
  margin-left: 10%;
  margin-bottom: 1rem;
}

.image {
  text-align: center;
  width: 100%;
}
.image img {
  max-width: 100%;
  max-height: 600px;
  box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.5);
}

.main-text {
  text-align: justify;
}

.comment-author {
  margin-right: 1rem;
}

.comment-date {
  margin-left: 1rem;
}

.comment-subtitle {
  display: flex;
  justify-content: space-between !important;
}

.mat-mdc-card-header {
  flex-direction: column !important;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex:1;
  overflow: auto;
  flex-shrink: 2;

}
.widecolumn {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex:4;
  margin-right:1rem;
}

.contents-panel {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  position: fixed;
  margin-right: 1rem;
  max-height: calc(100% - 10rem);
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.contents-panel::-webkit-scrollbar {
  display: none;
}

.section-links {
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 740px) {
  .column {
    display: none;
  }
}

.featured-carousel {
  margin-right: auto;

}

.carousel-container {
  display: inline-flex;
  justify-content: left;
  margin-right: 10%;
}
.blogform-buttons {
  display: flex;
  flex-wrap: wrap;
}
