<div class="slider-header">
  <h3>Featured Articles</h3>
  <a routerLink="">See all</a>
</div>
<div class="scrolling-wrapper-flexbox">
  <mat-card class="card" *ngFor="let card of featuredBlogs; let i = index" [class.active]="currentIndex === i">
    <mat-card-header>
      <div class="card-header">
        <mat-card-title>{{ card.title }}</mat-card-title>
        <mat-card-subtitle>{{ card.author.fullName }}</mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-content>
      {{ card.quotes[0] }}
      <img mat-card-image src="{{card.imagePath}}" alt="{{card.title}}" class="card-image">
    </mat-card-content>
  </mat-card>
</div>
